.wholePage {
    display: flex;
  }
  
  .card {
    flex: 0 0 auto; /* Prevent the card from growing */
    background-color: #ffffff; /* Background color for the card */
    padding: 20px; /* Adjust padding as needed */
    margin-right: 20px; /* Add some margin to the right of the card */
  }
  
  .sideConsole {
    flex: 1; /* Allow the sideConsole to grow and take the remaining space */
  }
  
  
  .checkDivn {
    background-color: rgba(201, 201, 201, 0.3); /* Light gray with low opacity */
    border-radius: 10px; /* Rounded corners, adjust the value as needed */
    padding: 10px;
    margin-bottom: 5px;
  }

  .checkDivy {
    background-color: rgba(53, 147, 9, 0.3); /* Light gray with low opacity */
    border-radius: 10px; /* Rounded corners, adjust the value as needed */
    padding: 10px;
    margin-bottom: 5px;
  }
  
  i {
    margin-right: 5px; /* Adjust margin as needed for spacing between icon and text */
  }
  
  h4 {
    margin: 0; /* Remove default margins for the heading */
  }

  checkHolder {
    margin-right: 20%;
    margin-left: 20%;
  }